{% extends "layout.html" %}
{% block content %}
<div id="imgs">
    <div class="container">
        <div data-regid="{{ reg['id'] }}" id="regid"><h1>标注区域：{{ reg['name'] }}</h1></div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% for img in imgs %}
                    {% if (loop.index0 % 3 == 0) %}
                    <div class="row">
                    {% endif %}
                        <div class="col-md-4 image-label" data-img="{{ img.img }}">
                            <div><img src="/image/{{ img.img }}" class="img-s img-reg"></div>
                            <div>{{ img.img }}</div>
                            <div class="reg row">
                                <div class="col-md-9">
                                    <div class="input-group input-group-sm">
                                        <input type="text" disabled="disabled" class="xy-show form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success reg-submit" type="button" data-x1="{{ img.v[0] }}" data-y1="{{ img.v[1] }}" data-x2="{{ img.v[2] }}" data-y2="{{ img.v[3] }}" data-init="4">Submit</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                       </div>
                    {% if (loop.index % 3 == 0 or (loop.last and loop.index % 3 != 0)) %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                {% for i in range(1, max_page+1) %}
                <li {% if i == page_num %}class="active"{% endif %}><a href="/region/{{ i }}">{{ i }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
